<div class="container">
  <div class="row">
    <div class="col">
      <h1>コメント一覧</h1>
    </div>
  </div>
    <% if @post_comments.exists? %>
      <div class="comment">
        <%= render 'public/post_comments/comment_list', post_comments: @post_comments %>
     </div>
    <% else %>
    <div class="row">
       <div class="col text-center text-break mt-5">
          <h1>コメントはありません</h1>
       </div>
    </div>
    <% end %>
    <%= paginate @post_comments %>
</div>

