<div class="container">
  <div class="row text-center">
    <div class="col">
      <h3>カテゴリー編集</h3>
    </div>
  </div>
  <div class="row text-center mt-3">
      <div class="col">
        <%= form_with model: @category, url: admin_category_path, method: :patch do |f| %>
          <%= f.text_field :name, class: "w-25" %>
          <%= f.submit "登録", class: "btn btn-success" %>
         <% end %>
       </div>
    </div>
</div>